#textWheelCache {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: oklch(0.21 0.006 285.885);
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    color: #f1f1f1;
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
    width: 280px;
  }

  #textWheelCache2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: oklch(0.21 0.006 285.885);
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    color: #f1f1f1;
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
    width: 280px;
  }


  #textWheelCache3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: oklch(0.21 0.006 285.885);
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    color: #f1f1f1;
    box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
    width: 300px;
  }